* {
  /* outline: 1px solid red; */
  box-sizing: border-box;
}

body, 
html {
  margin:0;
  padding:0;
  font-family: lato, sans-serif;
  /* min-height: 100vh; */
}
html {
  width: 100vw;
  overflow-x: hidden;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 59rem;
  background: beige;
  padding: 1.5rem;
  min-height:100vh;
  font-size: 1.6rem;
}

.p-header, 
.p-footer {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0.5em;
}
.p-header, 
.p-main {
  border-bottom: 0.1rem solid grey;
  width: 100%;
  margin-bottom: 0.5rem;
}

.p-main {
  flex-grow: 1;
}

.bayan {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width:100%;
}

.bayan__item {
  width:100%;
}
.item__input {
  padding:0;
  margin:0;
  width:100%;
}
.item__label {
  display:block;
  cursor:pointer;
  border: 1px solid grey;
  border-radius: 0.2em;
}
.wrapper .item__label-title,
.wrapper .item__label-icon {
  font-size: 0.858em;
}
.item__label-title {
  display: flex;
  justify-content: space-between;
  width:100%;
  padding:0 0.3em;
}
.item__label-icon {
  display: block;
  opacity: 0;
  flex-grow:0;
  flex-shrink: 0;
  line-height:0;
  align-self: center;
  background: transparent;
}
.item__label-icon img {
  display: block;
  width: 0.8em;
  height:0.8em;
  background: transparent;
}
.item__text {
/* display:none; */
max-height:0;
overflow:hidden;
font-size: 0.7em;
transition: max-height 0.80s ease-out;
border-top: 2px solid rgb(29, 77, 10);
}
.item__text:hover {
  background:rgba(38, 39, 38, 0.3)
}
.item__text:active {
  background:rgba(61, 252, 71, 0.6);
  cursor:grabbing;
}

input[type="radio"] { 
  display:none;
}

.item__label:hover > .item__text,
.item__input:checked + label .item__text
 {
  max-height:100rem;
  
} 
.item__label:hover > .item__text {
  transition: max-height 1.8s ease-out;
}
.item__input:checked + label .item__text {
  transition: max-height 0.1s;
}

.item__input:checked ~ label span {
  background: rgba(255, 0, 0,0.7);
}
.item__label:hover span {
  background: rgba(61, 106, 252, 0.3);
}
.item__label-icon {
  flex-grow: 0;
}
.item__input:checked ~ label .item__label-icon, 
.item__label:hover .item__label-icon {
transform:rotate(90deg);
transition: 0.4s;
} 
 

.p-main:hover  .item__label-icon {
  opacity: 1;
  transition: 0.3s;

}

